<div class="add-user main ng-scope">
    <h1>Log In</h1>
    <br>
    <p class="lead">Authentication Required: Login below.</p>
    <br>
    <div class="inInt-group">
      <span class="input-group-addon" id="basic-addon1"><img class="giphy-logo" id="logo-image" src="http://giphy.com/static/img/giphy_logo_laser.gif" height="20px" alt="Giphy – Search Animated GIFs"></span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="user.username" autofocus>
    </div>

<br><br>
<div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><img class="giphy-logo" id="logo-image" src="http://giphy.com/static/img/giphy_logo_laser.gif" height="20px" alt="Giphy – Search Animated GIFs"></span>
      <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="user.password">
    </div>

    <br><br><button class="btn btn-primary" type="button" ng-click='login()'>Login</button>
    
</div>